*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
/* Colors : FC101F (red) 1E247D (blue) 4DA01D (green) */

*{
    font-family: Lato;
    }

header {
    width:100%;
   ;
    

}
    .container {
    max-width: 100%;
    margin: 0,0;
    position: relative;
    background-image: url("./images/pexels-min-an-853168 1.png");
    background-repeat: no-repeat;
    background-size:cover;
    max-width: 100%;
    height: 1000px
    
}
    nav{
        display: flex;
        justify-content: space-between;
        margin: 0 10%;
        
    }
    .navheader{
        text-align: center;
        align-items: center;
     }

        .text_logo {
            float: left;
            align-items: center;
            text-align: center;
            padding-top: 15px;
        }
        .icon_and_button {
            float: right;
            text-align: center;
             
        }
        #login{
            font-size: 140%;
            color: white;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 50%;
            padding: 30px, 20px;
        }

    .paraglogo{
        
        text-align: center; 
        color: rgb(228, 228, 228);
    }
        #citation1{
            margin-top: 2%;
            font-weight: 300;
            font-size: 120%;
            letter-spacing: 4px;

        }
        .logohead {
            margin: 20px;
        }
        #citation2{
            margin: 50px, 10px;
            font-size: 150%;
            font-weight: 600;
            text-align: center;
            font-weight: 500;
            letter-spacing: 3px;
            line-height: 2;
            text-shadow: #000000;
        }
        #CTA{
            margin-top: 70px;
            color: rgb(255, 255, 255);
            background-color: red;
            font-size: 300%;
            padding : 10px, 10px;
            border-radius: 50%;

        }
        #slogan{
            margin-top: 30px;
            font-size: 500%;
            font-weight: 400 ;
            letter-spacing: 10px;
        }
main{
    margin: auto,10%
}
    #section-carte{
    display: inline-block;
    margin: auto,10%;
    justify-content: center;
    }
        .carte-titre {
            display: flex;
            font-size:450%;
            justify-items:center;
            color: #FC101F;
            letter-spacing: 30px;
            justify-content: space-around;
            margin-bottom: 3%;
        }
            #shape{
                position:absolute;
                left: 10px;
                margin: 25px,35px;
                z-index: -1;
            }
            #carte{
                float: left;
                margin: 40px,20px,20px,30px;
            }

            #inter{
            float: right;
                margin-top: 100px;
            }
            #cartenav {
                position:static;
                float:right;
                height :800px;
            }
            #intercarte{
                
                display: inline-flex;
            }
            #textecarte{
                margin-top: 3%;
                font-size: 400%;
                display: block;
                text-align: center;
            }
            #inscription{
            
            }
        #champs-action{
            display: flex;
            margin: auto,10%;
        }
            #shap{
                position: absolute;
                z-index :-1;
                left: 50%;
                
            }

.foot-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

ul a {
    text-decoration: none;
}
.foot-logo{
    width:  500px;
    height: 300px;
}

.confid p {
    font-size: xx-small;
}

.newsletter {
    display: flex;
    background-color: green;
    padding: 20px 50px;

    
}
form button {
display: flex;

}