*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
  /*
 .baniere{
    height: 32px;
    padding: 4px 120px 4px 450px;
    gap: 306px;*
    background: var(--Neutral-Black, #000);
    position: absolute;
    max-width: 1440px;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#text_baniere{
    color: var(--Neutral-White, #FFF);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px; 
    letter-spacing: -0.28px;
}
b{
    color: var(--Yellow-500, #E5CB61);
}*/

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: proxima-nova, sans serif
    }
    .container {
    max-width: 100%;
    margin: 0;
    position: relative;
    background-image: url("./images/pexels-min-an-853168 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
}
header {
    width:100%;

}
    nav{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }
    .text_logo {
    float: left;
    }
    .icon_and_button {
    

    }
    .logo{
    justify-content: center;
}
    #login{
    color: white;
    background-color: green;
}
.carte-inter {
    display: flex;
    justify-content: first baseline;    
    align-items: flex-start;
}
#carte{
    font-size: 1.5rem;
}
.foot-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

ul a {
    text-decoration: none;
}
.foot-logo{
    width:  500px;
    height: 300px;
}

.confid p {
    font-size: xx-small;
}

.newsletter {
    display: flex;
    background-color: green;
    padding: 20px 50px;

    
}
form button {
display: flex;

}